.c-search {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--theme-body-bg);
    margin: 0 auto 30px;
}

.c-search-input {
    font-size: 16px;
    border: none;
    padding: 4px 16px;
    color: var(--brand-color_3);
    font-weight: bold;
}

.c-search-input:focus {
    outline: none !important;
    border-color: var(--brand-color_6);
    box-shadow: 0 0 10px var(--brand-color_6);
}

.c-search-list {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--brand-color_3);
    color: #fff;
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0;
    line-height: 1.3;
    margin: 0;
    max-width: 100%;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%;
    background-size: .65em auto;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.c-search-list:hover {
    background: var(--brand-color_6);
    cursor: pointer;
}

.c-search-list:focus {
    outline: none !important;
    border-color: var(--brand-color_6);
    box-shadow: 0 0 10px var(--brand-color_6);
}

.c-search-list-option {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.c-search-counter {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--brand-color_1);
}

@media screen and (max-width: 520px) {
    #btn-search span {
        display: none;
    }
    #btn-search::after {
        content: "🔍";
    }
    .c-search-counter {
        display: none;
    }
    .c-search-input {
        width: 200px;
    }
}

@media screen and (max-width: 350px) {
    .c-search-list {
        width: 60px;
    }

    .c-search-list, .c-search-input, .btn {
        font-size: 14px;
    }
}

